@import "tailwindcss";

@font-face {
  font-family: "Glober Regular";
  src: url(/fonts/glober-regular.woff) format("woff2");
}

@font-face {
  font-family: "Glober ExtraBold";
  src: url(/fonts/glober-extrabold.woff) format("woff2");
}

@font-face {
  font-family: "Knile SemiBold Italic";
  src: url(/fonts/knile-semibolditalic.woff) format("woff2");
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --dimmed: rgba(255, 255, 255, 0.5);
  --transition: 300ms all ease-in-out;
}

h1,
h2,
h3,
h4,
b {
  font-family: "Glober ExtraBold";
}

i {
  font-style: normal;
  font-family: "Knile SemiBold Italic";
}

body {
  background: var(--background);
  color: var(--foreground);
}

p {
  font-size: 14px;
}

a:not(.logo):not(.mantine-Button-root),
.link {
  font-size: 14px;
  color: var(--dimmed);
  transition: var(--transition);
}

a:not(.logo):not(.mantine-Button-root):hover,
.link:hover {
  color: var(--mantine-color-anchor);
  cursor: pointer;
}

.dimmed {
  color: var(--dimmed);
}
